*{
   margin: 0;
   padding: 0;
   font-family: 'Montserrat' , sans-serif; 

}

.container{
   text-align: center;
}

ul {
   margin-top: 15%;
   list-style: none;
}
.logo{
    width: 80px;
    margin-left: 5%;

}
header{
   display: flex;
   justify-content: space-between;
}

 ul a{
   text-decoration: none;
}